@import "bootstrap/bootstrap";

html, body {
  width: 100%;
  height: 100%;
  scroll: none;
  background: url("../img/bg_texture.png");
}

@import "bootstrap/responsive";

@lightGray:#dedede;
@hoverColor:#ebb;

#home{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  scroll: none;
  z-index: 10;
  img {
    width: 100%;
    height: auto;
  }
}
#main{
  /*position: fixed;*/
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
}


#level1 {
  position: absolute;
  display: none;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  div{
    float: left;
  }
  .level1 {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: static;
    img {
      /*position: absolute;*/
      /*top: 0px;*/
      /*left: 0px;*/
      height: 100%;
      width: 100%;
      /*width: auto;*/
    }
  }
  .level1.open{
    position: fixed;
    z-index: 100;
  }
}

.btn-primary {
  display: block;
  margin: 5px;
}

img {
  max-width: none;
  max-height: none;
}
