doctype 5
html
  head
    meta(name="apple-mobile-web-app-capable", content="yes")
    title= title
    != css('client')
  body
    #main
      block content
    //-script(src='/socket.io/socket.osc.js', type='text/javascript')

