extends layout

block content
  #home
  #level1


  
  
  != js('client')

  script(type='javascript/template', id="square-template")
    <div class="level1">
    <img src="<%= img %>" />
    </div>
  script(type='javascript/template', id="hero-template")
    <div class="hero">
    <img src="<%= img %>" />
    </div>


  :coffeescript
    @a = @a || {}
    @a.pageId = '#{pageId}'

